body {
    background-color: dimgrey;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title-text {
    color: lightgrey;
    outline-color: black;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: 'Droid Serif', serif;
    font-size: 500%;
}

.main-info{
    width: 150px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.3);
    border: solid black 3px;
    border-radius: 10px;
    height: 50px;
}

#icon{
    width: 70px;
    margin-top: 60px; 
    float: left;
}

#temp{
    color: black;   
    text-align: center;
    width: 80px;
    height: 40px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    float: right;  
}

.info{
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px black;
    color: white;
    text-align: center;
    margin-top: 50px;
    border: solid 1px black;
    height: 80px;
    border-radius: 10px;
}